<ion-header>
  <ion-navbar>
    <ion-title style="background-color: rgb(184,158,151)">
      Computadoras y accesorios
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="verFavoritos()">
        <ion-icon name="star" color="dark"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
        <button ion-button icon-only (click)="verBuscar()">
          <ion-icon name="search" color="dark"></ion-icon>
        </button>
      </ion-buttons>
      
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: rgb(222,204,204)">

    <ion-grid>
        <ion-row>
          <ion-col *ngFor='let e of compu' col-6>
             <ion-card (click)="verDetalles(e)">
                                   
               <img *ngIf="e.ad.hasOwnProperty('images')" src= "http://img.segundamano.mx/cover/{{e.ad.thumbnail.path}}"> 
               <img *ngIf="!e.ad.hasOwnProperty('images')" src="http://www.segundamano.mx/img/nga/empleo_y_educacion.png"> 
               <h1 *ngIf="e.ad.hasOwnProperty('subject')"> {{e.ad.subject}} </h1>
               <h2 *ngIf="e.ad.hasOwnProperty('locations')"> {{e.ad.locations[0].locations[0].label}}, {{e.ad.locations[0].label}} </h2>
               <h3 *ngIf="e.ad.hasOwnProperty('list_price')"> {{e.ad.list_price.label}} </h3>
    
             </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid> 

</ion-content>


